body {
  color: var(--q-color-dark) !important;
}

input, textarea {
  /*color: var(--q-color-dark) !important;*/
  line-height: 17px;
}

a {
  text-decoration: none;
}

.bg-primary {
  background-color: var(--q-color-primary) !important;
}

.text-primary {
  color: var(--q-color-primary) !important;
}

.text-dark {
  color: var(--q-color-dark) !important;
}

.q-if {
  min-height: 0;
  outline: 0;
  padding-bottom: 3px;
}

/* button */
.q-btn {
  text-transform: none;
  min-height: 26px;
}

.q-btn .q-btn-inner {
  flex-wrap: nowrap;
}

.q-input .q-icon {
  font-size: 16px;
  height: 18px;
  width: 18px
}

.q-input, .pp-field {
  border-radius: 3px;
  min-height: 24px;
  font-size: 13px;
}

.q-if-control {
  align-self: center;
}

/* checkbox radio toggle*/
.q-radio .q-icon,
.q-checkbox .q-icon {
  font-size: 15px !important;
}

.q-toggle .q-option-inner {
  width: 24px;
  min-width: 24px;
}

.q-toggle .q-toggle-base {
  margin-left: 4px;
}

.q-toggle .q-toggle-handle {
  width: 15px;
  height: 15px;
  margin-top: 3px;
}

.hide_scroll_bar::-webkit-scrollbar {
  display: none !important;
}

.hide_scroll_bar .q-table-middle::-webkit-scrollbar {
  display: none !important;
}

.no_scroll_bar .scroll {
  overflow: hidden;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--q-color-faded);
  opacity: 0.6;

}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

::-webkit-scrollbar-button {
  display: none;
}

/* popover */
.q-popover {
  border: 1px solid var(--q-color-grey-4) !important;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  min-height: 50px;
}

/* tooltip */
.q-tooltip {
  padding: 2px 4px;
  font-size: 13px;
  color: var(--q-color-dark);
  border: 1px solid var(--q-color-grey-5);
  background-color: var(--q-color-grey-2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.q-tooltip.animate-popup-up {
  -webkit-animation: q-popup-up 0.1s;
  animation: q-popup-up 0.1s;
}

.q-tooltip.animate-popup-down {
  -webkit-animation: q-popup-down 0.1s;
  animation: q-popup-down 0.1s;
}

/* modal control */
.modal > .scroll {
  overflow: visible;
}

.modal .q-layout-header {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.modal .q-layout-footer {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  background-color: var(--q-color-grey-1);
  padding: 4px;
  display: flex;
  justify-content: flex-end;
}

.modal .q-modal-layout-content {
  background-color: var(--q-color-grey-1);
  font-size: 13px;
  color: var(--q-color-dark)
}

.modal .modal-content {
  border-radius: 5px !important;
  font-size: 13px;
  color: var(--q-color-dark);
  min-width: 10px;
  max-width: 95vw;
  min-height: 10px;
  max-height: 95vh;
}

.q-input, .pjm-selector {
  border: 1px solid var(--q-color-grey-3);
  border-radius: 3px;
  padding: 2px 4px;
  transition: border-color 0.22s;
  background-color: white;
}

.q-input:hover:not(.strip_hover_ctrl),
.pjm-selector:hover:not(.strip_hover_ctrl) {
  border-color: var(--q-color-grey-5);
}

.focus-child:focus-within,
.q-input:focus-within,
.pjm-selector.active {
  border-color: var(--q-color-blue-5);
}

.q-if-hide-underline:not(.q-if-inverted) {
  padding-bottom: 2px;
}

/* notification */
.q-notification {
  border-radius: 5px;
  pointer-events: all;
  display: inline-block;
  margin: 10px 10px 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 9500;
  max-width: 100%;
}

/* table */
.q-table-container {
  background-color: white;
  color: var(--q-color-dark);
}

.animate-table:not(.no-animate) tbody tr,
.animate-fadedIn-move-right {
  animation: table-tr-in 0.22s;
}

@keyframes table-tr-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
    pointer-events: none;
  }
  100% {
    opacity: 1;
  }
}

.q-table th {
  font-size: 13px;
}

.q-table td, .q-table th {
  padding: 0 8px;
}

.q-table thead tr {
  height: 38px;
}

.q-table tbody tr:hover {
  background: var(--q-color-blue-grey-1);
}

.q-table-dense .q-table td, .q-table th,
.q-table-dense .q-table thead, .q-table tr {
  border-color: var(--q-color-grey-3)
}

.q-table-dense .q-table-middle {
  padding: 0 1px;
}

.q-table-dense .q-table thead tr {
  height: 24px;
}

.q-table-top {
  min-height: 0 !important;
  padding: 0;
}

.q-table-bottom {
  border: 0;
  padding: 0;
}

.q-table-bottom .q-table-control .q-select .q-input-target {
  min-width: 0;
}

.q-table-bottom .q-table-control .q-select .q-icon {
  font-size: 16px;
  height: 24px;
}

.q-tabs-head {
  font-size: 14px;
}

/* loading */
.q-loading.fullscreen {
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  bottom: auto;
  right: auto;
  width: 160px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px !important;
  border: 1px solid var(--q-color-faded);
}

/* dnd */
.dnd_ghost {
  opacity: 0.5;
}

.dnd_drag_item {
  cursor: pointer !important;
}

/* describe editor style */
.q-editor {
  border: 1px solid var(--q-color-grey-4);
}

.q-editor ol {
  margin: 0;
  padding-left: 30px;
}

.describe-edit .q-editor-toolbar {
  background-color: var(--q-color-grey-1) !important;
  border-bottom: 1px solid var(--q-color-grey-4)
}

.describe-edit .q-editor-toolbar-padding {
  padding: 3px 0;
}

.describe-edit .q-btn {
  border-radius: 0;
  padding: 2px;
  margin: 0 2px;
  min-height: 0;
}

.describe-edit .q-btn-inner > i {
  font-size: 16px;
}

.describe-edit .q-btn-group {
  margin-left: 0 !important;
  padding: 0 4px !important;
}

.describe-edit .q-btn-group:before {
  background: var(--q-color-grey-4) !important;
}

/* animation control */
.animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-022 {
  -webkit-animation-duration: 0.22s;
  animation-duration: 0.22s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate-popup-down {
  -webkit-animation: q-popup-down 0.22s;
  animation: q-popup-down 0.22s;
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
}

.animate-popup-up {
  -webkit-animation: q-popup-up 0.22s;
  animation: q-popup-up 0.22s;
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
}

.animate-popup-close {
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation: q-popup-close 0.18s;
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
}

@-webkit-keyframes q-popup-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px) scaleY(0.3);
    transform: translateY(-20px) scaleY(0.3);
    pointer-events: none;
  }
  100% {
    opacity: 1;
  }
}

@keyframes q-popup-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px) scaleY(0.3);
    transform: translateY(-20px) scaleY(0.3);
    pointer-events: none;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes q-popup-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) scaleY(0.3);
    transform: translateY(20px) scaleY(0.3);
    pointer-events: none;
  }
  100% {
    opacity: 1;
  }
}

@keyframes q-popup-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) scaleY(0.3);
    transform: translateY(20px) scaleY(0.3);
    pointer-events: none;
  }
  100% {
    opacity: 1;
  }
}

.animate-pop-out {
  -webkit-animation: q-popup-out 0.1s;
  animation: q-popup-out 0.1s;
}

.animate-pop-close {
  -webkit-animation: q-popup-close 0.1s;
  animation: q-popup-close 0.1s;
}

@keyframes q-popup-out {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
  }
  100% {
    opacity: 1;
    pointer-events: none;
  }
}

@keyframes q-popup-close {
  0% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
  }
}

.card-animate-pop-down {
  animation-timing-function: ease-in;
  animation: card-popup-down 0.22s;
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
}

@-webkit-keyframes card-popup-down {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
    pointer-events: none;
  }
  100% {
    opacity: 1;
  }
}

@keyframes card-popup-down {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
    pointer-events: none;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    background-color: var(--q-color-grey-5);
    box-shadow: 0 0 1px 1px var(--q-color-grey-3);
  }
  40% {
    background-color: var(--q-color-blue-9);
    box-shadow: 0 0 4px 2px var(--q-color-blue-3);
  }
  100% {
    background-color: var(--q-color-grey-5);
    box-shadow: 0 0 1px 1px var(--q-color-grey-3);
  }
}

/* bug template editor */
.editor-full-screen.read_only .q-editor-content:hover {
  background-color: var(--q-color-grey-4);
  transition: all 0.45s cubic-bezier(.23, 1, .32, 1);
}

.module_content .q-editor .q-editor-content {
  min-height: auto !important;
  padding: 4px;
  border-radius: 3px;
}

.rbt.q-popover {
  max-height: 320px !important;
}

.q-table-dense .q-table td, .q-table-dense .q-table th {
  padding: 0px !important;
}
