<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bin.kong.dms.dao.mapper.config.CfBusGroupMapper">
    <resultMap id="BaseResultMap" type="com.bin.kong.dms.model.config.entity.CfBusGroup">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="creator_account" property="creator_account" jdbcType="VARCHAR"/>
        <result column="creator_name" property="creator_name" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, create_time, status, creator_account, creator_name
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cf_bus_group
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cf_bus_group
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.bin.kong.dms.model.config.entity.CfBusGroup"
            useGeneratedKeys="true" keyProperty="id">
        insert into cf_bus_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="creator_account != null">
                creator_account,
            </if>
            <if test="creator_name != null">
                creator_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="creator_account != null">
                #{creator_account,jdbcType=VARCHAR},
            </if>
            <if test="creator_name != null">
                #{creator_name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bin.kong.dms.model.config.entity.CfBusGroup">
        update cf_bus_group
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="creator_account != null">
                creator_account = #{creator_account,jdbcType=VARCHAR},
            </if>
            <if test="creator_name != null">
                creator_name = #{creator_name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectList" resultMap="BaseResultMap"
            parameterType="com.bin.kong.dms.model.config.entity.CfBusGroup">
        select
        <include refid="Base_Column_List"/>
        from cf_bus_group
        where 1=1
        <if test="name !=null">
            and name=#{name}
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
    </select>

    <select id="searchList" resultMap="BaseResultMap"
            parameterType="com.bin.kong.dms.model.config.search.BusGroupSearch">
        select
        <include refid="Base_Column_List"/>
        from cf_bus_group
        where 1=1
        <if test="kw != null and kw.length>0">
            and (name like CONCAT('%',#{kw},'%'))
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        <if test="creator != null">
            and creator_account =#{creator}
        </if>
        order by status desc
    </select>

    <select id="selectCount" resultType="java.lang.Integer"
            parameterType="com.bin.kong.dms.model.config.entity.CfBusGroup">
        select
        count(*)
        from cf_bus_group
        where 1=1
        <if test="name !=null">
            and name=#{name}
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
    </select>

</mapper>
