<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bin.kong.dms.dao.mapper.config.CfBusGroupUsersMapper" >
  <resultMap id="BaseResultMap" type="com.bin.kong.dms.model.config.entity.CfBusGroupUsers" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bus_group_id" property="bus_group_id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="creator_account" property="creator_account" jdbcType="VARCHAR" />
    <result column="creator_name" property="creator_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bus_group_id, name, account,creator_name,creator_account
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from cf_bus_group_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cf_bus_group_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.bin.kong.dms.model.config.entity.CfBusGroupUsers"
          useGeneratedKeys="true" keyProperty="id">
    insert into cf_bus_group_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bus_group_id != null" >
        bus_group_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="creator_account != null" >
        creator_account,
      </if>
      <if test="creator_name != null" >
        creator_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bus_group_id != null" >
        #{bus_group_id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="creator_account != null" >
        #{creator_account,jdbcType=VARCHAR},
      </if>
      <if test="creator_name != null" >
        #{creator_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bin.kong.dms.model.config.entity.CfBusGroupUsers" >
    update cf_bus_group_users
    <set >
      <if test="bus_group_id != null" >
        bus_group_id = #{bus_group_id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByAccount" parameterType="java.util.Map" >
    delete from cf_bus_group_users
    where account = #{account,jdbcType=VARCHAR}
    and bus_group_id=#{bus_group_id}
  </delete>


  <select id="selectList" resultMap="BaseResultMap"
          parameterType="com.bin.kong.dms.model.config.entity.CfBusGroupUsers">
    select
    <include refid="Base_Column_List"/>
    from cf_bus_group_users
    where 1=1
    <if test="bus_group_id != null">
      and bus_group_id = #{bus_group_id}
    </if>
    <if test="account != null">
      and account = #{account}
    </if>
  </select>

  <select id="searchList" resultMap="BaseResultMap"
          parameterType="com.bin.kong.dms.model.config.search.BusGroupUsersSearch">
    select
    <include refid="Base_Column_List"/>
    from cf_bus_group_users
    where 1=1
    <if test="kw != null and kw.length>0">
      and (account like CONCAT('%',#{kw},'%'))
    </if>
    <if test="bus_group_id != null">
      and bus_group_id = #{bus_group_id}
    </if>
    <if test="account != null">
      and account = #{account}
    </if>
  </select>
</mapper>
